* {
  font-family: sans-serif;
}

html, body {
	height: 100%;
	display: grid;
	margin: 0;
}

main {
	margin: auto;
	width: 30em;
}

h1, p, address {
	width: 100%;
	text-align: center;
}

p {
	font-size: 1.2em;
}

address {
	font-size: 1.1em;
}

a {
	color: inherit !important;
}
